:root{

  --sff: "Anton", sans-serif;
  --pCol: hsl(0,5%,5%);
  --sCol: hsl(0,50%,100%);
  --tCol: hsl(0,0%,5%);
  --paBCol: hsl(45,100%, 40%);
  --paBorder: 2px ridge var(--paBCol);

  .vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 500;
  }
  

}

body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: var(--pCol);
  color: var(--sCol);
  font-size: 0.625rem;
}

.bodyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.upperIndex{
  position: fixed;
  background-color: var(--pCol);
  z-index: 3;
}

.topHeaderContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  height: 7vh;
  margin-top:0.312rem;
  background-color: var(--tCol);
  border: var(--paBorder);
  border-radius: 0.625rem;
}

.userProfile{

  margin-left: 0.625rem;
  /* border: 1px solid white; */
  border-radius: 50%;

}


 /* User Profile Timer Effect */


/* User Greeting Text */

.userWelcome{

  font-size: 0.875rem;
  width: 80vw;
  margin-right: 5rem;
  font-weight: 700;
  padding: 0.3rem;
}

.icons{

  font-size: 1rem;
  color: #fff;
  margin-right: 0.75rem;
}



/* .newsEventsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  justify-content: center ;
  width: 60vw;
  height: 7vh;
  margin-top:0.625rem;
  border: var(--paBorder);
  
} */

.streaksAndBalanceContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size:0.875rem;
  width: 95vw;
  height: 9vh;
  margin-top:0.625rem;
  
}

.streaksAndBalanceContainer>div{

  border: var(--paBorder);
}

.streaksContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 9vh;
  margin: 0;
  border-radius: 0.625rem;
}

.streakText{
  margin: 0;
  margin-top: -0.5rem;
  line-height: 1.5rem;
}

.lowerStreakCon{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;

}


button{
  font-size:12px;
  font-weight: 700;
  width: 5rem;
  height: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  border: 2px ridge  goldenrod;
  background: blue;
}



.rankBalCon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 9vh;
  border-radius: 0.625rem;

}

.rankBalCon>div{
  padding: 0;
}

.rank{
  margin-bottom: .5rem;

}
.inAppFeaturesContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 95vw;
  height: 9vh;
  margin-top:0.625rem;
  border: var(--paBorder);
  border-radius: 0.625rem;
  overflow-x: auto ;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  
}

.inAppFeaturesContainer>div{
  margin-right: 3.5rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}

.academy{
  margin-left: 0.625rem;
}

.filtersAndSelectionsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  height: 7vh;
  margin-top:0.625rem;
  margin-bottom:0.625rem;
  border: var(--paBorder);
  border-radius: 0.625rem;

}


.filters{

  padding: 1rem;
  width: 20vw;
  margin-left: 0.625rem;
  border: 1px solid white;
}

.selections{
  display: flex;
  flex-direction: row;
  width: 50vw;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.selections>div.item{

  width: 10vw;
  padding: 1rem;
  margin-right: 2rem;
  border: 1px solid white;
  border-radius:25%;
}

.donateHomePage{
  display: flex;
  flex-flow:row wrap;
  margin-top: 17rem;
  align-items: center;
  justify-content: space-evenly;
}

.donateHomePage>div{
  width: 30vw;
  height: 20vh;
  padding: 1rem;
  margin-bottom: 0.875rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.bottomMenuContainer{

  display: flex;
  flex-direction: row;
  position: fixed;
  width: 95vw;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  border: var(--paBorder);
  border-radius: 0.625rem 0;
  background-color: var(--tCol);
  z-index: 3;

}

.bottomMenuContainer>div{
  padding: 1.2rem;
  border: 1px solid white;
  border-radius: 50%;
}
