:root{

  --sff: "Anton", sans-serif;
  --pCol: hsl(0,5%,5%);
  --sCol: hsl(0,50%,100%);
  --tCol: hsl(0,0%,5%);
  --sTxtCol:hsl(0,0%,50%);
  --paBCol: hsl(45,100%, 40%);
  --paBorder: 2px ridge var(--paBCol);
  --chBorder: 1px ridge var(--sCol);
  --clr-neon: var(--paBCol);
  --clr-bg: var(--tCol);

  .vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 500;
  }
  

}

body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: var(--pCol);
  color: var(--sCol);
  font-size: 0.625rem;
}

.bodyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.upperIndex{
  position: fixed;
  background-color: var(--pCol);
  z-index: 3;
}

.topHeaderContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  height: 7vh;
  margin-top:0.312rem;
  background-color: var(--tCol);
  border: var(--paBorder);
  border-radius: 0.625rem;
}

.userProfile{

  margin-left: 0.625rem;
  border: var(--chBorder);
  border-radius: 50%;

}


 /* User Profile Timer Effect */

 .circleUserAvatar{

  font-size: 0.9rem;
  position: absolute;
  margin-top: 0.18rem;
  margin-left: 0.18rem;
  z-index: 1;
}

.userMenu{

  display: flex;
  position: absolute;
  margin-left: 0.312rem;
}

/* User Greeting Text */

.userWelcome{

  font-size: 0.875rem;
  width: 80vw;
  margin-right: 5rem;
  font-weight: 700;
  padding: 0.3rem;
}

.animatedGreeting {
  animation-delay: 4s;
}
.icons{

  font-size: 1rem;
  color: #fff;
  margin-right: 0.75rem;
  /* border: var(--chBorder); */
}

.menuIcon{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1.25rem;
  margin-right: 0.625rem;
  /* border: var(--chBorder); */
}



/* .newsEventsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  justify-content: center ;
  width: 60vw;
  height: 7vh;
  margin-top:0.625rem;
  border: var(--paBorder);
  
} */

.streaksAndBalanceContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size:1rem;
  width: 95vw;
  height: 9vh;
  margin-top:0.625rem;
  
}

.streaksAndBalanceContainer>div{

  border: var(--paBorder);
  border-radius: 0.625rem;
  
}

.streaksContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 9vh;
  margin: 0;
  box-shadow: 2px 0 2px 0.5px hsla(45, 100%, 40%, 0.5), -2px 0 2px 0.5px hsla(45, 100%, 40%, 0.5);

}

.streakText{
  margin: 0;
  margin-top: -0.5rem;
  line-height: 0.875rem;
}

.lowerStreakCon{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;

}

.buttonContainer{
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  color: var(--pCol);
}

.rankBalCon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 9vh;
  box-shadow:-2px 0 2px 0.5px hsla(45, 100%, 40%, 0.5),2px 0 2px 0.5px hsla(45, 100%, 40%, 0.5);


}

.rankBalCon>div{
  padding: 0;
  padding: 0.15rem 0.5rem;
}

.rank{
  margin-top: 0.5rem;
  margin-bottom: .4rem;

}

.neon {
  /* margin-top: -150px; */
  /* font-size: var(--font-size); */
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: var(--clr-neon) 0.125em solid;
  /* padding: 0.25em 1em; */
  border-radius: 0.25em;
  text-shadow: 
    0 0 .20em #FFF7,
    0 0 .30em var(--clr-neon);
  box-shadow: 
    inset 0 0 .5em var(--clr-neon),
          0 0 .5em var(--clr-neon);
}

.neon::before {
  content: "";
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-neon);
  transform: 
    perspective(0.2em)
    rotateX(10deg) 
    scale(1.3, 0.40);
  filter: blur(0.5em);
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 100ms linear;
}

.neon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-neon);
  box-shadow: 0 0 2em var(--clr-neon);
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.bal {
  font-size: 1.2rem;
}
.inAppFeaturesContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 95vw;
  height: 9vh;
  margin-top:0.625rem;
  border: var(--paBorder);
  border-radius: 0.625rem;
  overflow-x: auto ;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  
}

.inAppFeaturesContainer>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3.5rem;
}
.rotateLock{
  font-size: 1rem;
  color: var(--sCol);
  padding: 0.1rem;
  border: 1px solid white;
  border-radius: 50%;
}
.bottomText{
  font-family: var(--sff);
  font-weight: 500;
  margin: 0;
  line-height: 0.5rem;
  padding: 0;
  font-size: 1rem;
  color: var(--sTxtCol);
}

.academy{
  margin-left: 0.625rem;
}

.filtersAndSelectionsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  height: 7vh;
  margin-top:0.625rem;
  margin-bottom:0.625rem;
  border: var(--paBorder);
  border-radius: 0.625rem;

}


.filters{

  display: flex;
  align-items: center;
  width: 30vw;
  margin-left: 0.625rem;

}

select,.filtersSelect{
  width: 100%;
  height: 5vh;
  outline: none;
  border: none;
  border-radius: 0.312rem;
  background-color: hsla(0, 0%, 25%, 1);
}

.rotateLockFilters{
  position: absolute;
  font-size: 1rem;
  padding: 0.1rem;
  margin-left: 2.5rem;
  border: 1px solid white;
  border-radius:25%;
}

.selections{
  display: flex;
  flex-direction: row;
  width: 50vw;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.selections>div.item{

  margin-right: 2rem;
  color: var(--sTxtCol);
}

.rotateLockSelections{
  font-size: 1rem;
  color: var(--sCol);
  padding: 0.09rem;
  border: 1px solid white;
  border-radius:25%;
}

div > .selections > .item> .bottomText{
  line-height: 0.3rem;
}

.donateHomePage{
  display: flex;
  flex-flow:row wrap;
  margin-top: 17rem;
  align-items: center;
  justify-content: space-evenly;
  scrollbar-width: none;
}

.donateHomePage>div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 20vh;
  padding: 1rem;
  margin-bottom: 0.875rem;
  border: 1px solid white;
  border-radius: 1rem;
  background: hsla(0, 0%, 25%, 0.5);
}

.bottomMenuContainer{

  display: flex;
  flex-direction: row;
  position: fixed;
  width: 95vw;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  border: var(--paBorder);
  border-radius: 0.625rem 0;
  background-color: var(--tCol);
  z-index: 2;

}

